*.lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.[oa]
*~
*.#
**/.DS_Store
# Ignore Mac DS_Store files
.DS_Store

.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf
*~
*.pyc

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

